.country__btn {
	position: relative;
	padding-right: 13px;
	transition: color .3s ease-in-out;
}

.country__btn::after {
	content: '';
	position: absolute;
	display: block;
	right: 0;
	top: 50%;
	transform: translateY(-50%);
	width: 9px;
	height: 6px;
	background-image: url("../img/arrow-down.svg");
	background-repeat: no-repeat;
	background-position: center;
}

.country__btn:hover,
.country__btn:focus {
	color:#2238FF;
}

.country__list {
	display: none;
}

